<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <script src="js/angular.min.js"></script>
    <script src="js/userController.js"></script>
    <title>my application</title>
</head>
<body ng-controller="userController">
<h1>add someone</h1>
<form class="Form">
    <input type="text" ng-model="tempInputName"/>
    <input type="text" ng-model="tempInputPassword"/>
    <input type="text" ng-model="tempInputEmail"/>
    <button ng-click="addNew()">Add</button>
</form>
<div>
    <p ng-repeat="task in tasksArray">{{task}}<button ng-click="deleteItem(task)">delete</button></p>
</div>
</body>
</html>