<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>mainPageTitle</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body ng-controller="getRandomQuestionController">
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-5">
            <button type="button" class="btn btn-random" ng-click="getRandomQuestion()">Random question</button>
        </div>
    </div>

    <div class="container" style="margin-top: 30px" style="margin-bottom: 30px">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Random question</div>
                    <table class="table ">
                        <tbody ng-model="RandomQuestion">
                        <td>{{RandomQuestion.question}}</td>
                        <td>{{RandomQuestion.answer}}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <form class="form-horizontal" style="margin-top: 30px" name="AnswerForm" >
        <div class="form-group">
            <label class="control-label col-sm-2" for="answerID">Answer:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="answer" id="answerID"
                       placeholder="Enter answer" ng-model="localeAnswer"/>
                <button type="button" class="btn btn-try" ng-click="tryAnswer(RandomQuestion,localeAnswer)">Try answer</button>
            </div>
        </div>
    </form>
</body>
</html>