<!DOCTYPE html >
<html>
<head>
    <title>mainPageTitle</title>
    <meta charset="UTF-8" name="google-signin-client_id"
          content="462600627406-dktknb555dpuoirof9378mnv35ouod1d.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body  ng-app="app" ng-controller="mainController">
<br>
<button type="button" class="btn btn" ng-click="getPage()">GetPage</button>
<input type="text" class="form-control" name="variant" id="variantId"
       placeholder="Enter variant" ng-model="variant"/>
<button type="button" class="btn btn" ng-click="guess(variant)">Guess</button>

<br>Current question : {{page.currentQuestion}}</br>
<br>systemResponse : {{page.systemResponse}}</br>
<br>bestVariant : {{page.bestVariant}} owner : {{page.bestVariantOwner}}</br>
<br>Скоры : </br>
<ul>
    <li ng-repeat="item in page.history">{{item.email + " " + item.currentAnswer}}</li>
</ul>
<br>Top : </br>
<ul>
    <li ng-repeat="item2 in page.top">{{item2.email + " " + item2.numberScore}}</li>
</ul>

</body>
</html>