<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns="http://www.w3.org/1999/html">
<head>
    <title>mainPageTitle</title>
    <meta charset="UTF-8" name="google-signin-client_id"
          content="462600627406-dktknb555dpuoirof9378mnv35ouod1d.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!--<script src="/webjars/sockjs-client/sockjs.min.js"></script>-->
    <!--<script src="/webjars/stomp-websocket/stomp.min.js"></script>-->
    <style>
        .g-signin2{
            margin-left: 300px;
            margin-top: 20px;
        }
        /*.data{*/
        /*display: none ;*/
        /*}*/
    </style>
</head>
<body ng-controller="getRandomQuestionController">

    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <div class="data">
        <p>Profile Details</p>
        <img id="pic" class="img-circle" width="96" height="96"/>
        <p>Email adress</p>
        <p id="email" class="alert alert-danger"></p>
        <button onclick="signOut()" class="btn btn-danger">Sign out</button>
    </div>

<div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-5">
            <button type="button" class="btn btn-random" ng-click="getRandomQuestion()">Random question</button>
        </div>
    </div>

    <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Random question</div>
                    <table class="table ">
                        <tbody ng-model="RandomQuestion">
                        <td>{{RandomQuestion.question}}</td>
                        <td>{{RandomQuestion.answer}}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <form class="form-horizontal" style="margin-top: 30px" name="AnswerForm" >
        <div class="form-group">
            <label class="control-label col-sm-2" for="answerID">Answer:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="answer" id="answerID"
                       placeholder="Enter answer" ng-model="localAnswer"/>
                <button type="submit" class="btn btn-try" ng-click="tryAnswer(RandomQuestion,localAnswer)">Try answer</button>
            </div>
        </div>
    </form>

    <div class="something" style="margin-left: 30px">
        <br>first argument {{firstArgument}}</br>
        <br>second argument {{secondArgument}}</br>
        <br>result {{winOrTry}}</br>
        <!--<br>resultNew {{winOrTry2}}</br>-->
    </div>
</div>
</body>
</html>